/* CSS Document */

/* ================================= 
  Flexbox
==================================== */

.products {
    flex: 1 450px;
    /*flex-basis: 100px;*/
}
.invoice {
    flex: 1 600px;
    /*flex-basis: 100px;*/
}

.container,
.item-content,
.item-qty-wrap,
.item-action,
.invoice-wrap,
.invoice-item-options,
.invoice-shipping,
.ship-inputs,
.invoice-ship-totals,
.invoice-totals,
.ship-details {
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*flex-direction: column-reverse;*/
}
.ship-details {
    justify-content: center;
    align-items: center;
}
.invoice-totals{
    justify-content:space-around;
}

.item-content,
.item-action {
    flex-direction: column;
    flex: 1;
}

.invoice-item-options,
.ship-where-text {
    align-self: center;
}

div.row {
    display: flex;
    flex-wrap: wrap;
    
    flex: 1 100%;
    
    /*justify-content: center;*/
    align-items: center;
}

.ship-detail-label {
    flex:0 180px;
}
.ship-detail-inputs {
    margin-left: auto;
}



/* ================================= 
  Media Queries
==================================== */

/*@media (min-width: 200px) and (max-width: 344px) {
    .item-qty-wrap {
        justify-content: center;
    }
}*/
    
@media (min-width: 400px) {
    .invoice-total-shipping {
        order: 1;
    }
    
/*    .ship-detail-label {
    text-align: right;
    padding-right: 1em;
}*/
}

@media (min-width: 560px) { 
    .ship-detail-label {
    text-align: right;
    padding-right: 1em;
}
}


@media (min-width: 474px) {
    .center-ship-form {
    align-content: center;
        width: 400px;
    }
}

@media (min-width: 768px) {
	.item-content {
        flex-direction: row;
        justify-content:flex-start;
    }
    .item-m {
        flex: 0 30%;
    }
    
    input#ship-zip {
        width: 120px;
    }
        
/*    .hdr-label-field:first-child {
        flex:1 100%;
    }*/
}

@media (min-width: 1024px) {
	
}




/* ================================= 
  Centering in Flexbox
==================================== */

/*.container {
	display: flex;
	min-height: 50vh;
    
    justify-content: center;
    align-items: center;
}

.item {
    align-self: center
}*/

